.main-container {
  background-color: #533f5d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}
.title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.button {
  background: none;
  border: 2px solid white;
  width: 150px;
  height: 40px;
  color: white;
  font-size: 20px;
  font-weight: 900;
  border-radius: 6px;
}

.button:hover {
  background: #383b41;
  border-color: #959698;
  cursor: pointer;
  color: #dcdbdb;
}

.score-container {
  align-self: center;
  width: 700px;
  height: 50px;
  margin-top: 20px;
  padding: 10px;
  text-align: end;
}

.score {
  font-size: 30px;
  font-weight: bold;
}

.card-grid-container {
  border: 4px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 20px;
  border-radius: 12px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.card-number {
  font-size: 120px;
  color: f7f7f7;
  font-weight: bold;
}

.card-cover {
  width: 100px;
  height: 100px;
}

.card-img-container {
  border: 3px solid #000000;
  background-color: white;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-number-container {
  border: 3px solid #f7f7f7;
  background-color: transparent;
  border-radius: 10px;
  height: 150px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-number-container {
  transform: rotateY(90deg);
   transition: all ease-in 0.2s;
  position: absolute; 
}

.flipped .card-number-container {
  transform: rotateY(0deg);
  transition-delay: 0.2s;
}

.card .card-img-container {
  transition: all ease-in 0.2s;
  transition-delay: 0.2s;
}

.flipped .card-img-container {
  transform: rotateY(90deg);
  transition-delay: 0s;
}
